# archive and compressed files
*.gz
*.zip
*.tar
*.tgz
*.tbz

# computer system files
Thumbs.db
.DS_Store

# file caches

# NPM
node_modules/*

# fonts
*.eot
*.ttc
*.ttf
*.otf
*.woff

# images
*.png
*.jpg
*.jpe
*.jpeg
*.gif
*.ico
*.svg
*.cur
*.tiff

# logs
*.log
error_log

# videos
*.mp4
*.m4v
*.ogg
*.wmv
*.mov
*.webm
*.flv
*.fla
*.ogv
*.avi
*.swf

# Files marked as "Assume Unchanged"
/public/img
