# archive and compressed files
*.gz
*.zip
*.tar
*.tgz
*.tbz

# computer system files
Thumbs.db
.DS_Store
.directory

# file caches

# NPM
node_modules/*

# logs
*.log
error_log

# videos
*.mp4
*.m4v
*.ogg
*.wmv
*.mov
*.webm
*.flv
*.fla
*.ogv
*.avi
*.swf
