/* CSS declarations go here */

/* general styles */
html,
body {
  margin: 0;
  padding: 0;
  background: #0B100F;
  color: #eee;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0.83em 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p > img,
span > img {
  display: inline;
}

img.center {
  margin: 0 auto;
  text-align: center;
}





/* specific element styles */

header,
#page-container,
footer {
  padding: 0;
}

header,
footer {
  color: #00C49A;
  position: relative;
}

header a {
  text-decoration: none;
}

#brand {
  color: #d4d7d6;
  font-size: 60px;
  line-height: 1em;
  padding: 15px;
  display: inline-block;
}

#brand span {
  color: #00C49A;
  font-size: .7em;
  margin: auto -.3em;
  line-height: 1em;
  vertical-align: middle;
}

#main-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

#main-menu a {
  display: inline-block;
  color: #00C49A;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1em;
  padding: 30px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

#main-menu a:hover {
  color: #333;
  background-color: #00C49A;
}

#page-container {
  background: #333;
  color: #dddddd;
  overflow: hidden;
}

/* = ROWS AND COLUMNS = */
/*
  @TODO: figure out general row/column paddings and other styles
*/
.e_row { /* by default, all rows will be full-width */
  width: 100%;
  position: relative;
  clear: both;
}

.row-fixed_width { /* @TODO: decide what the largest fixed width of the grid is */
  max-width: 992px;
  margin: 0 auto;
}

.row_inner {
  padding: 30px 0;
  overflow: hidden;
}

.e_col {
  position: relative;
  float: left;
}

.col-inner {
  padding: 0 10px;
}

/* Styles for Coming Soon template */
#page-coming-soon {
    text-align: center;
    padding: 160px 15px;
}

#page-coming-soon h1 {
    font-size: 80px;
    padding: 0;
    text-transform: uppercase;
}

#page-coming-soon h4 {
    font-size: 24px;
}

/* === RESPONSIVE STYLES === */
/*
  @TODO: Create grid system somewhat similar to what Bootstrap does
    Note: I understand Bootstrap already exists, but I'm trying to create
    something simpler that fits my needs rather than compiling a bloated,
    pre-made stylesheet into my project.

  Grid size notes:
    - 16 columns across
    - 15px side padding (inner)
    - column class formatting as follows: .col-<1-16>-<xs-xl>
    - Screen sizes: (ranging from XS to XL)
      > XS:  320px
      > SM:  480px
      > MD:  768px
      > LG:  992px
      > XL: 1200px+
    These sizes should be handled smallest to largest below
*/

@media only screen and (max-width: 319px) { /* everything below XS */
  .col-8-sm, .col-8-md {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) { /* beginning of XS screens */
  .col-8-sm, .col-8-md {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) { /* beginning of SM screens */
  .col-8-sm {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) { /* beginning of MD screens */
  .col-8-md {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) { /* beginning of LG screens */

}

@media only screen and (min-width: 1200px) { /* beginning of XL screens */

}
