/* CSS declarations go here */

/* general styles */
html,
body {
  margin: 0;
  padding: 0;
  background: #0B100F;
  color: #eee;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0.83em 0;
}





/* specific element styles */

header,
#page-container,
footer {
  padding: 0;
}

header,
footer {
  color: #00C49A;
  position: relative;
}

header a {
  text-decoration: none;
}

#brand {
  color: #d4d7d6;
  font-size: 60px;
  line-height: 1em;
  padding: 15px;
  display: inline-block;
}

#brand span {
  color: #00C49A;
  font-size: .7em;
  margin: auto -.3em;
  line-height: 1em;
  vertical-align: middle;
}

#main-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

#main-menu a {
  display: inline-block;
  color: #00C49A;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1em;
  padding: 30px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

#main-menu a:hover {
  color: #333;
  background-color: #00C49A;
}

#page-container {
  background: #333;
  color: #dddddd;
}

/* = ROWS AND COLUMNS = */
/*
  @TODO: figure out general row/column paddings and other styles
*/
.e_row { /* by default, all rows will be full-width */

}

.row-fixed_width { /* @TODO: decide what the largest fixed width of the grid is */

}

.row_inner {

}

.e_col {

}

.col-inner {

}

/* Styles for Coming Soon template */
#page-coming-soon {
    text-align: center;
    padding: 160px 15px;
}

#page-coming-soon h1 {
    font-size: 80px;
    padding: 0;
    text-transform: uppercase;
}

#page-coming-soon h4 {
    font-size: 24px;
}

/* === RESPONSIVE STYLES === */
/*
  @TODO: Create grid system somewhat similar to what Bootstrap does
    Note: I understand Bootstrap already exists, but I'm trying to create
    something simpler that fits my needs rather than compiling a bloat, pre-made
    stylesheet into my project.

  Grid size notes:
    - 16 columns across
    - 15px side padding (inner)
    - Screen sizes: (ranging from XS to XL)
      > XS:
      > SM:
      > MD:
      > LG:
      > XL:
    These sizes should be handled smallest to largest below
*/
