/* CSS declarations go here */

/* general styles */
html,
body {
  margin: 0;
  padding: 0;
  background: #111;
  color: #eee;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0.83em 0;
}





/* specific element styles */

header,
#page-container,
footer {
  padding: 0;
}

header,
footer {
  color: #008aff;
  position: relative;
}

header a {
  text-decoration: none;
}

#brand {
  color: #d4d7d6;
  font-size: 4em;
  padding: .25em;
  display: inline-block;
}

#brand span {
  color: #008aff;
  font-size: .7em;
  margin: auto -.3em;
  line-height: 1em;
  vertical-align: middle;
}

#main-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

#main-menu a {
  display: inline-block;
  color: #008aff;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 2em;
  padding: 1em;
}

#page-container {
  background: #333;
  color: #dddddd;
}

/* Styles for Coming Soon template */
#page-coming-soon {
    text-align: center;
    padding: 160px 15px;
}

#page-coming-soon h1 {
    font-size: 80px;
    padding: 0;
    text-transform: uppercase;
}

#page-coming-soon h4 {
    font-size: 24px;
}
