/* CSS declarations go here */
@import "//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css";

/* general styles */
html,
body {
  margin: 0;
  padding: 0;
  background: #000a08;
  color: #fff;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0.83em 0;
}

p {
  font-size: 18px;
  padding: 0 0 2em 0;
  line-height: 1.5em;
}

#page-container a {
  color: #00C49A;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

#page-container a:hover {
  color: #85ffe4;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p > img,
span > img {
  display: inline;
}

img.center {
  margin: 0 auto;
  text-align: center;
}





/* specific element styles */

header,
#page-container,
footer {
  padding: 0;
}

header,
footer {
  color: #00C49A;
  position: relative;
}

header {
  z-index: 10;
}

header a {
  text-decoration: none;
}

#brand {
  color: #fff;
  font-size: 60px;
  line-height: 1em;
  padding: 15px;
  display: inline-block;
}

#brand span {
  color: #00C49A;
  font-size: .7em;
  margin: auto -.3em;
  line-height: 1em;
  vertical-align: middle;
}

#main-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 0;
}

#main-menu a {
  display: inline-block;
  color: #00C49A;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1em;
  padding: 30px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

#main-menu a:hover {
  color: #0B100F;
  background-color: #00C49A;
}

#page-container {
  background: #00130f;
  box-shadow: 0px 2px 4px #000;
  color: #fff;
  overflow: hidden;
  padding-bottom: 60px;
}

/* = ROWS AND COLUMNS = */
/*
  @TODO: figure out general row/column paddings and other styles
*/
.e_row { /* by default, all rows will be full-width */
  width: 100%;
  position: relative;
  clear: both;
}

.row-fixed_width { /* @TODO: decide what the largest fixed width of the grid is */
  max-width: 992px;
  margin: 0 auto;
}

.row_inner {
  padding-top: 40px;
  overflow: hidden;
}

.e_col {
  position: relative;
  float: left;
}

.col-inner {
  padding: 20px 15px 0;
}

/* Styles for Coming Soon template */
#page-coming-soon {
    text-align: center;
    padding: 160px 15px;
}

#page-coming-soon h1 {
    font-size: 80px;
    padding: 0;
    text-transform: uppercase;
}

#page-coming-soon h4 {
    font-size: 24px;
}

.banner-container {
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  padding: 90px 0 120px 0;
}

#home_banner {
  background-image: url(/img/Elliot.Color2-hd-outlined-green-dark.jpg);
}

#projects_banner {
  background-image: url(/img/github-static-v2-dark.jpg);
  background-position: center;
}

.banner-container h1,
.banner-container h2,
.banner-container h3 {
  font-weight: 400;
  padding: 0.2em 0;
  text-align: center;
  color: #fff;
  text-shadow: #fff 0 0 10px;
}

.banner-container h1 {
  font-size: 60px;
}

.banner-container h3 {
  font-size: 30px;
}

.banner-container p {

}

/* = PROJECTS STYLES = */

.project-wrapper {
  padding: 0 8px;
  border: solid 1px #555;
  border-radius: 3px;
  background: rgba(255,255,255,0.05);
  position: relative;
  overflow: hidden;
}

.project-title,
.project-wrapper p {
    padding-bottom: 16px;
    line-height: 1em;
}

.project-author, .project-last-updated {
    padding-left: 24px;
}

footer {
  padding: 30px 15px;
}

/* = PROJECT MANAGER LOGIN STYLES = */
#login_form {
  max-width: 350px;
  margin: 0 auto;
  background-color: #00130F;
}
#login_form p,
#login_form input,
#login_form button {
  font-size: 18px;
}
#login_form p,
#login_form input {
  font-weight: bold;
  color: #00C49A;
  line-height: 50px;
}
#login_form p {
  position: relative;
  padding: 0 20px 0 50px;
  text-align: center;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px;
}
#login_form p:first-child {
  padding-top: 10px;
  text-align: left;
  border-top-width: 2px;
}
#login_form p:first-child:before,
#login_form span.blinky-carat {
  display: block;
  position: absolute;
  line-height: 50px;
  left: 20px;
}
#login_form p:first-child:before {
  content: "$";
}
#login_form input {
  width: 100%;
  border: 0;
  padding: 0;
  background: transparent;
}
#login_form input:focus {
  outline: none;
}
#login_form span.blinky-carat {
  visibility: hidden;
  top: 0;
}
#login_form input:focus + span.blinky-carat {
  visibility: visible;
}
#login_form p:nth-child(3) {
  padding-bottom: 10px;
  border-bottom-width: 2px;
}
#login_form button {
  display: none;
}
#login_form + .error-message {
  text-align: center;
}

/* = PROJECT MANAGER STYLES = */
#project-manager-header-row .proj-col {
  width: 50%;
}
#project-manager-header-row .proj-col:first-child {
  width: 90%;
}
#project-manager-header-row h1,
#logout,
#logout .devicons-terminal_badge {
  margin: 0;
  padding: 0;
  line-height: 40px;
}
#project-manager-header-row h1 {
  font-size: 32px;
  font-weight: lighter;
}

#project-manager-header-row .proj-col:last-child {
  width: 10%;
}
#logout {
  outline: #fff solid thin;
  outline-offset: -1px;
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  transition: background 0.5s, color 0.3s;
}
#logout .devicons-terminal_badge {
  margin-left: -10px;
  margin-right: -6px;
  font-size: 40px;
  vertical-align: middle;
}
#logout:hover {
  background-color: #fff;
  color: #00130f;
}

#project-manager-header-row,
#project-manager-msg-box-row,
#project_col_headings,
.project-listing,
.project-manager-row {
  position: relative;
  overflow: hidden;
  clear: both;
}

div.msg-box {
  min-height: 36px;
  padding: 14px 0;
}

div.msg-box p {
  padding: 0;
  margin: 0;
}

div.msg-box p span {
  padding: 3px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  font-weight: bold;
}

div.msg-box p span.success {
  color: #5ec256;
  border-color: #5ec256;
}

div.msg-box p span.error {
  color: #ff436d;
  border-color: #ff436d;
}

#project_col_headings,
.project-listing {
  width: 100%;
}

#project_col_headings,
.project-manager-row {
  padding-top: 20px;
}

#project_col_headings p {
  padding: 0;
}

.proj-col {
  position: relative;
  float: left;
}

.proj-col.col-1 {
  width: 20%;
}

.proj-col.col-2 {
  width: 25%;
}

.proj-col.col-3 {
  width: 10%;
}

.proj-col.col-4 {
  width: 10%;
}

.proj-col.col-5 {
  width: 25%;
}

.proj-col.col-6 {
  width: 10%;
}

.proj-col-inner {
  padding: 0 10px;
}

/* project field styles */

.project-manager-row .field-wrapper {
  padding: 0 10px 0 20px;
  position: relative;
  border-bottom: solid 2px #fff;
}
.project-manager-row .field-wrapper:before {
  content: "$";
  position: absolute;
  line-height: 30px;
  left: 0px;
}
.project-manager-row .field-wrapper.field-select,
.project-manager-row .field-wrapper.field-checkbox {
  padding: 0;
}
.project-manager-row .field-wrapper.field-checkbox {
  border: none;
}
.project-manager-row .field-wrapper.field-select:before,
.project-manager-row .field-wrapper.field-checkbox:before {
  display: none;
}

.project-manager-row input[type="text"],
.project-manager-row select,
.project-manager-row option {
  color: #00C49A;
  font-weight: bold;
}

.project-manager-row input[type="text"],
.project-manager-row select {
  border: none;
  background: transparent;
  padding: 0;
  width: 100%;
}

.project-manager-row input[type="text"] {
  height: 30px;
}

.project-manager-row input[type="text"]:focus {
  outline: none;
}

.project-manager-row select {
  height: 30px;
}

.project-manager-row option {
  border: none;
  background-color: #00130f;
}

/* styles for checkbox label altering trick */
.project-manager-row input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.project-manager-row input[type="checkbox"] + label,
.project-manager-row input[type="checkbox"] + label:before {
  display: inline-block;
  width: 100%;
}

.project-manager-row input[type="checkbox"] + label {
  height: 30px;
  text-align: center;
}

.project-manager-row input[type="checkbox"] + label:before {
  border: solid 1px #00C49A;
  background: transparent;
  color: #00C49A;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  content: "No";
  -webkit-transition: background 0.5s, color 0.3s;
  -moz-transition: background 0.5s, color 0.3s;
  -o-transition: background 0.5s, color 0.3s;
  transition: background 0.5s, color 0.3s;
}
.project-manager-row input[type="checkbox"]:checked + label:before {
  border: solid 1px #00C49A;
  background: #00C49A;
  color: #00130f;
  content: "Yes";
}

/* save/delete buttons */
button.proj-btn,
#newProjectBtn {
  background-color: transparent;
  line-height: 30px;
  font-size: 20px;
  transition: background 0.5s, color 0.3s;
}

button.proj-btn {
  display: block;
  float: left;
  margin: 0;
  outline: #00C49A solid thin;
  outline-offset: -1px;
  border: none;
  width: 45%;
  color: #00C49A;
}

button.proj-btn:first-child {
  margin-right: 10%;
}

button.proj-btn:hover {
  background-color: #00C49A;
  color: #00130f;
}

/* the new project button */
#newProjectBtn {
  width: 50px;
  outline: #fff solid thin;
  outline-offset: -1px;
  border: none;
  color: #fff;
}

#newProjectBtn:hover {
  background-color: #fff;
  color: #00130f;
}

/* === RESPONSIVE STYLES === */
/*
  @TODO: Create grid system somewhat similar to what Bootstrap does
    Note: I understand Bootstrap already exists, but I'm trying to create
    something simpler that fits my needs rather than compiling a bloated,
    pre-made stylesheet into my project.

  Grid size notes:
    - 16 columns across
    - 15px side padding (inner)
    - column class formatting as follows: .col-<1-16>-<xs-xl>
    - Screen sizes: (ranging from XS to XL)
      > XS:  320px
      > SM:  480px
      > MD:  768px
      > LG:  992px
      > XL: 1200px+
    These sizes should be handled smallest to largest below
*/

@media only screen and (max-width: 319px) { /* everything below XS */
  .col-4-md,
  .col-5-md,
  .col-8-sm, .col-8-md,
  .col-12-md,
  .col-16-xs, .col-16-lg {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) { /* beginning of XS screens */
  .col-4-md,
  .col-5-md,
  .col-8-sm, .col-8-md,
  .col-12-md,
  .col-16-xs, .col-16-lg {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) { /* beginning of SM screens */
  .col-8-sm {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) { /* beginning of MD screens */
  .col-4-md {
    width: 25%;
  }
  .col-5-md {
    width: 31.25%;
  }
  .col-8-md {
    width: 50%;
  }
  .col-12-md {
    width: 75%;
  }
  .col-16-md {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) { /* beginning of LG screens */
  .col-5-lg {
    width: 31.25%;
  }
  .col-8-lg {
    width: 50%;
  }
  .col-16-lg {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) { /* beginning of XL screens */

}
