@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700');
@import url('https://cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css');
@import url('https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh');

// Color variables
$white: #fff;
$d-gray: #090909;
$d-gray-2: #151515;
$gray: #555;
$sea-green: #00C49A;
$highlight-green: #85ffe4;
$dark-green: #00130f;
$success-green: #5ec256;
$error-red: #ff436d;

$default-fonts: 'Source Code Pro', monospace;
$default-speed: 0.3s;

// Mixins

// List expected (prop speed, prop speed, ...)
@mixin each-transitions($settings...) {
  $set: null;
  @each $transition in $settings {
    $set: $set, $transition;
  }

  -webkit-transition: $set;
  -moz-transition: $set;
  -o-transition: $set;
  transition: $set;
}

@mixin register-animation($settings...) {
  $set: null;
  @each $animation in $settings {
    $set: $set, $animation;
  }

  -webkit-animation: $set;
  -moz-animation: $set;
  -o-animation: $set;
  animation: $set;
}

/* general styles */
html,
body {
  margin: 0;
  padding: 0;
  background: $d-gray;
  color: $white;
  font-family: $default-fonts;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0.83em 0;
}

p {
  font-size: 16px;
  padding: 0 0 2em 0;
  line-height: 1.5em;

  @at-root {
    form & {
      padding-bottom: 1em;
    }
  }
}

input[type="text"],
input[type="email"],
textarea {
  color: $white;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0.2);
  border-bottom: solid 2px $gray;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  @include each-transitions((color $default-speed, border-color 0.5s));

  &:focus {
    border-bottom-color: $sea-green;
    outline: none;
    color: $sea-green;
  }
}

textarea {
  min-height: 100px;
}

button {
  outline: $sea-green solid thin;
  outline-offset: -1px;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: $sea-green;
  font-size: 18px;
  cursor: pointer;
  @include each-transitions((color $default-speed, background-color 0.5s));

  &:hover {
    background-color: $sea-green;
    color: $d-gray;
  }
}

#page-container a {
  color: $sea-green;
  text-decoration: none;
  @include each-transitions((color $default-speed));

  &:hover {
    color: $highlight-green;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;

  &.center {
    margin: 0 auto;
    text-align: center;
  }
}

p > img,
span > img {
  display: inline;
}





/* specific element styles */

header,
#page-container,
footer {
  padding: 0;
}

header,
footer {
  color: $sea-green;
  position: relative;
}

header {
  z-index: 10;

  a {
    text-decoration: none;
  }
}

#brand {
  color: $white;
  font-size: 26px;
  line-height: 1em;
  padding: 12px;
  display: inline-block;

  span {
    color: $sea-green;
    font-size: .6em;
    margin: auto -.3em;
    line-height: 1em;
    vertical-align: middle;
  }
}

@keyframes bars_compress {
  0% {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  50% {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  100% {
    margin-top: -2px;
    margin-bottom: -2px;
  }
}
@keyframes bars_expand {
  0% {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  50% {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  100% {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@keyframes bar_rotate_left {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}
@keyframes bar_unrotate_left {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes bar_rotate_right {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
@keyframes bar_unrotate_right {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#mobile_menu_toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  box-sizing: border-box;
  display: table;

  input[type="checkbox"] {
    visibility: hidden;
    z-index: -1;
    position: absolute;
  }

  .bars-wrapper {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    div {
      padding: 0;
      margin: 0 auto;
      width: 70%;
      border: solid $sea-green;
      border-width: 2px 0 0 0;

      &:nth-child(2) {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  &.open .bars-wrapper div {

    &:nth-child(2) {
      @include register-animation((bars_compress 0.5s, bar_rotate_left 0.5s));
      margin-top: -2px;
      margin-bottom: -2px;
      transform: rotate(-45deg);
    }

    &:not(:nth-child(2)) {
      @include register-animation((bar_rotate_right 0.5s));
      transform: rotate(45deg);
    }
  }

  &.closed .bars-wrapper div {

    &:nth-child(2) {
      @include register-animation((bars_expand 0.5s, bar_unrotate_right 0.5s));
    }

    &:not(:nth-child(2)) {
      @include register-animation((bar_unrotate_left 0.5s));
    }
  }
}

#main-menu {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  height: 0;
  font-size: 0;
  overflow: hidden;
  background-color: $d-gray;
  @include each-transitions((height 0.5s));

  a {
    display: block;
    color: $sea-green;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1em;
    padding: 16px 18px;
    @include each-transitions((color $default-speed, background-color $default-speed));

    &:hover {
      color: $white;
    }
  }
}

#page-container {
  background: $d-gray-2;
  box-shadow: 0px 2px 4px #000;
  color: $white;
  overflow: hidden;
  padding-bottom: 60px;
}

/* = ROWS AND COLUMNS = */
/*
  @TODO: figure out general row/column paddings and other styles
*/
.e_row,
.e_row_inner { /* by default, all rows will be full-width */
  width: 100%;
  position: relative;
  clear: both;
}

.row-fixed_width { /* @TODO: decide what the largest fixed width of the grid is */
  max-width: 992px;
  margin: 0 auto;
}

.row_inner {
  padding: 40px 15px 0 15px;
  overflow: hidden;

  @at-root {
    .e_row_inner > & {
      padding: 0;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.e_col,
.e_col_inner {
  position: relative;
  float: left;
}

.col-inner {
  padding: 20px 15px 0;

  @at-root {
    .e_col_inner > & {
      padding: 0 10px;
    }
  }
}

// For grid rows
.grid_row {
  > .row_inner {
    display: grid;
    grid-gap: 15px;

    > .e_col {
      width: auto;
      float: none;

      > .col-inner {
        padding: 0;
      }
    }
  }

  &.grid_2_cols > .row_inner {
    grid-template-columns: repeat(16, 1fr);
  }
}

/* Styles for Coming Soon template */
#informational-page {
  text-align: center;
  padding: 160px 15px;

  h1 {
    font-size: 80px;
    padding: 0;
    text-transform: uppercase;
  }

  h4 {
    font-size: 24px;
  }
}

.banner-container {
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: auto;

  .e_row {
    display: table;
    height: 100%;

    .row_inner {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .col-inner {
    padding-top: 0;
  }

  h1, h3 {
    font-weight: 400;
    text-align: center;
    color: $white;
    text-shadow: $white 0 0 10px;
  }

  h1 {
    font-size: 40px;
    padding: 0 0 0.2em 0;
  }

  h3 {
    font-size: 24px;
    padding: 0.2em 0 0 0;
  }
}

#home_banner {
  background-image: url(/img/Elliot.green-layered.jpg);
}

#projects_banner {
  background-image: url(/img/github-static-v2-dark.jpg);
  background-position: center;
}

#contact_banner {
  background-color: $dark-green;
}

/* = PROJECTS STYLES = */

.project-wrapper {
  padding: 0 8px;
  border: solid 1px $gray;
  border-radius: 3px;
  background: rgba(255,255,255,0.05);
  position: relative;
  overflow: hidden;

  @at-root {
    .project-title, & p {
      padding-bottom: 16px;
      line-height: 1em;
    }
  }
}

.project-title span {
  font-family: $default-fonts;
}

.project-author, .project-last-updated {
    padding-left: 24px;
}

/* = PROJECT MANAGER LOGIN STYLES = */
#login_form {
  max-width: 350px;
  margin: 0 auto;
  background-color: #0f0f0f;
  border: solid 1px #4c4c4c;

  p, input, button {
    font-size: 18px;
  }

  p, input {
    font-weight: bold;
    color: $sea-green;
    line-height: 50px;
  }

  p {
    position: relative;
    padding: 0 20px 0 50px;
    text-align: center;

    &:first-child {
      padding-top: 10px;
      text-align: left;

      &:before {
        content: "$";
      }
    }

    &:nth-child(3) {
      padding-bottom: 10px;
    }
  }

  p:first-child:before,
  span.blinky-carat {
    display: block;
    position: absolute;
    line-height: 50px;
    left: 20px;
  }

  span.blinky-carat {
    visibility: hidden;
    top: 0;
  }

  input {
    width: 100%;
    border: 0;
    padding: 0;
    background: transparent;

    &:focus {
      outline: none;

      + span.blinky-carat {
        visibility: visible;
      }
    }
    // Unfortunately, these selectors can't be used in groups :(
    &::-webkit-form-placeholder {
      color: rgba(0, 196, 154, .5);
    }
    &::-moz-placeholder {
      color: rgba(0, 196, 154, .5);
    }
    &:-ms-input-placeholder {
      color: rgba(0, 196, 154, .5);
    }
    &::placeholder {
      color: rgba(0, 196, 154, .5);
    }
  }

  button {
    display: none;
  }

  + .error-message {
    text-align: center;
  }
}

// PROJECT MANAGER STYLES
#project-manager-header-row {
  .proj-col {
    width: 50%;

    &:first-child {
      width: 90%;
    }

    &:last-child {
      width: 10%;
    }
  }

  @at-root { // Allows removing the parent from selectors
  // The below compiles to `#project-manager-header-row h1, #logout, #logout .devicons-terminal_badge`
    & h1, #logout, #logout .devicons-terminal_badge {
      margin: 0;
      padding: 0;
      line-height: 40px;
    }

    &,
    #project-manager-msg-box-row,
    #project_col_headings,
    .project-listing,
    .project-manager-row {
      position: relative;
      overflow: hidden;
      clear: both;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: lighter;
  }
}

#logout {
  outline: $white solid thin;
  outline-offset: -1px;
  border: none;
  width: 100%;
  background-color: transparent;
  color: $white;
  font-size: 18px;
  @include each-transitions((color $default-speed, background 0.5s));

  .devicons-terminal_badge {
    margin-left: -10px;
    margin-right: -6px;
    font-size: 40px;
    vertical-align: middle;
  }

  &:hover {
    background-color: $white;
    color: $dark-green;
  }
}

div.msg-box {
  min-height: 36px;
  padding: 14px 0;

  p {
    padding: 0;
    margin: 0;

    span {
      padding: 3px 10px;
      border-style: solid;
      border-width: 1px;
      border-radius: 2px;
      font-weight: bold;

      &.success {
        color: $success-green;
        border-color: $success-green;
      }
      &.error {
        color: $error-red;
        border-color: $error-red;
      }
    }
  }
}

#project_col_headings {
  @at-root { // For styles shared between #project_col_headings and other elements
    &, .project-listing {
      width: 100%;
    }

    &, .project-manager-row {
      padding-top: 20px;
    }
  }

  p {
    padding: 0;
  }
}

.proj-col {
  position: relative;
  float: left;

  &.col-1 {
    width: 20%;
  }
  &.col-2 {
    width: 25%;
  }
  &.col-3 {
    width: 10%;
  }
  &.col-4 {
    width: 10%;
  }
  &.col-5 {
    width: 25%;
  }
  &.col-6 {
    width: 10%;
  }
}

.proj-col-inner {
  padding: 0 10px;
}

/* project field styles */

.project-manager-row {
  .field-wrapper {
    padding: 0 10px 0 20px;
    position: relative;
    border-bottom: solid 2px $gray;
    background-color: rgba(0,0,0,0.2);

    &:before {
      content: "$";
      position: absolute;
      line-height: 30px;
      left: 0px;
    }

    &.field-select, &.field-checkbox {
      padding: 0;

      // For setting the `:before` of both `.field-select` and `.field-checkbox`
      &:before {
        display: none;
      }
    }
    &.field-checkbox {
      border: none;
    }
  }

  input[type="text"], select, option {
    color: $sea-green;
    font-weight: bold;
  }

  input[type="text"], select {
    border: none;
    background: transparent;
    padding: 0;
    width: 100%;
  }

  input[type="text"] {
    height: 30px;

    &:focus {
      outline: none;
    }
  }

  select {
    height: 30px;
  }

  option {
    border: none;
    background-color: $dark-green;
  }

  // styles for checkbox label altering trick
  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;

    + label {
      &, &:before {
        display: inline-block;
        width: 100%;
      }

      height: 30px;
      text-align: center;

      &:before {
        border: solid 1px $sea-green;
        background: transparent;
        color: $sea-green;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        content: "No";
        @include each-transitions((color $default-speed, background-color $default-speed));
      }
    }

    &:checked + label:before {
      border: solid 1px $sea-green;
      background: $sea-green;
      color: $dark-green;
      content: "Yes";
    }
  }
}

// save/delete buttons
button.proj-btn {
  @at-root {
    &, #newProjectBtn {
      background-color: transparent;
      line-height: 30px;
      font-size: 20px;
      padding: 1px 6px;
      @include each-transitions((color $default-speed, background-color 0.5s));
    }
  }

  display: block;
  float: left;
  margin: 0;
  outline: $sea-green solid thin;
  outline-offset: -1px;
  border: none;
  width: 45%;
  color: $sea-green;

  &:first-child {
    margin-right: 10%;
  }

  &:hover {
    background-color: $sea-green;
    color: $dark-green;
  }
}

/* the new project button */
#newProjectBtn {
  width: 50px;
  outline: $white solid thin;
  outline-offset: -1px;
  border: none;
  color: $white;

  &:hover {
    background-color: $white;
    color: $dark-green;
  }
}

/* === CONTACT FORM === */

/* === SOCIAL MEDIA ICONS === */
.socials svg {
  fill: $sea-green;
  max-width: 30px;
  @include each-transitions((fill $default-speed));

  &:hover {
    fill: #fff;
  }

  @at-root {
    footer & {
      max-width: 20px;
    }
  }
}

/* === FOOTER === */
footer {
  padding: 30px 15px 0;
  text-align: center;
}

/* === RESPONSIVE STYLES === */
/*
  @TODO: Create grid system somewhat similar to what Bootstrap does
    Note: I understand Bootstrap already exists, but I'm trying to create
    something simpler that fits my needs rather than compiling a bloated,
    pre-made stylesheet into my project.

  Grid size notes:
    - 16 columns across
    - 15px side padding (inner)
    - column class formatting as follows: .col-<1-16>-<xs-xl>
    - Screen sizes: (ranging from XS to XL)
      > XS:  320px
      > SM:  480px
      > MD:  768px
      > LG:  992px
      > XL: 1200px+
    These sizes should be handled smallest to largest below
*/

@media only screen and (min-width: 0px) { /* Defaults for everything below small screen sizes */
  .hidden-xs {
    display: none;
  }

  .visible-sm {
    display: none;
  }

  .col-3-sm,
  .col-4-sm, .col-4-md,
  .col-5-md,
  .col-8-sm, .col-8-md,
  .col-10-sm,
  .col-12-md,
  .col-16-xs, .col-16-lg {
    width: 100%;
  }

  // Grid-specific styles
  .grid_row > .row_inner {
    & > .col-3-sm,
    & > .col-4-sm, & > .col-4-md,
    & > .col-5-md,
    & > .col-8-sm, & > .col-8-md,
    & > .col-10-sm,
    & > .col-12-md,
    & > .col-16-xs, & > .col-16-lg {
      grid-column: span 16;
    }
  }

  .banner-container {
    .row_inner {
      padding-bottom: 40px;
    }
  }
}

@media only screen and (min-width: 480px) { /* beginning of SM screens */
  .hidden-xs {
    display: initial;
  }
  .hidden-sm {
    display: none;
  }

  .visible-sm {
    display: initial;
  }

  .col-3-sm {
    width: 18.75%
  }
  .col-4-sm {
    width: 25%;
  }
  .col-8-sm {
    width: 50%;
  }
  .col-10-sm {
    width: 62.5%;
  }

  // Grid-specific styles
  .grid_row > .row_inner {
    & > .col-4-sm {
      grid-column: span 4;
    }
    & > .col-8-sm {
      grid-column: span 8;
    }
    & > .col-10-sm {
      grid-column: span 10;
    }
  }
}

@media only screen and (min-width: 600px) {
  #main-menu {
    overflow: auto;
    width: auto;
    height: 100%;
    top: 0;
    @include each-transitions((none));

    a {
      display: inline-block;
      text-align: right;
    }
  }

  #mobile_menu_toggle {
    display: none;

    &.open + #main-menu {
      height: 100%;
    }
  }

  .banner-container {
    height: 56.25vw;

    .row_inner {
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: 768px) { /* beginning of MD screens */
  .hidden-sm {
    display: initial;
  }
  .hidden-md {
    display: none;
  }

  .visible-sm {
    display: none;
  }

  .col-4-md {
    width: 25%;
  }
  .col-5-md {
    width: 31.25%;
  }
  .col-8-md {
    width: 50%;
  }
  .col-12-md {
    width: 75%;
  }
  .col-16-md {
    width: 100%;
  }

  // Grid-specific styles
  .grid_row > .row_inner {
    & > .col-4-md {
      grid-column: span 4;
    }
    & > .col-5-md {
      grid-column: span 5;
    }
    & > .col-8-md {
      grid-column: span 8;
    }
    & > .col-12-md {
      grid-column: span 12;
    }
    & > .col-16-md {
      grid-column: span 16;
    }
  }
}

@media only screen and (min-width: 992px) { /* beginning of LG screens */
  #brand {
    font-size: 40px;
    padding: 15px;

    span {
      font-size: .7em;
    }
  }

  #main-menu a {
    font-size: 24px;
    padding: 23px 30px;
  }

  .banner-container {
    h1 {
      font-size: 60px;
    }

    h3 {
      font-size: 30px;
    }
  }

  .banner-container {
    height: 46.875vw;
  }
  .hidden-md {
    display: initial;
  }
  .hidden-lg {
    display: none;
  }

  .col-5-lg {
    width: 31.25%;
  }
  .col-8-lg {
    width: 50%;
  }
  .col-16-lg {
    width: 100%;
  }

  // Grid-specific styles
  .grid_row > .row_inner {
    & > .col-5-lg {
      grid-column: span 5;
    }
    & > .col-8-lg {
      grid-column: span 8;
    }
    & > .col-16-lg {
      grid-column: span 16;
    }
  }
}

@media only screen and (min-width: 1200px) { /* beginning of XL screens */
  .banner-container {
    height: 37.5vw;
  }
  .hidden-lg {
    display: initial;
  }
  .hidden-xl {
    display: none;
  }
}
