<template name="ContactForm">
  <form action="#" class="contact">

    <div class="e_row_inner">
      <div class="row_inner">
        <div class="e_col_inner col-8-sm">
          <div class="col-inner">
            <p><input type="text" name="fname" placeholder="First Name"></p>
          </div>
        </div>
        <div class="e_col_inner col-8-sm">
          <div class="col-inner">
            <p><input type="text" name="lname" placeholder="Last Name"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="e_row_inner">
      <div class="row_inner">
        <div class="e_col_inner col-16-xs">
          <div class="col-inner">
            <p><input type="email" name="email" placeholder="Email"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="e_row_inner">
      <div class="row_inner">
        <div class="e_col_inner col-16-xs">
          <div class="col-inner">
            <p><input type="text" name="subject" placeholder="Subject"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="e_row_inner">
      <div class="row_inner">
        <div class="e_col_inner col-16-xs">
          <div class="col-inner">
            <p><textarea name="message" placeholder="Message"></textarea></p>
          </div>
        </div>
      </div>
    </div>

    <div class="e_row_inner">
      <div class="row_inner">
        <div class="e_col_inner col-16-xs">
          <div class="col-inner">
            <p><button class="submit" type="submit">Send</button></p>
          </div>
        </div>
      </div>
    </div>

    <div class="e_row_inner">
      <div class="row_inner">
        <div class="e_col_inner col-16-xs">
          <div class="col-inner">
            <p class="{{showMessageBox}}">{{getCurrentMessage}}</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
