<template name="Header">
  <a id="brand" href="/">ed(<span>'{{route}}'</span>)</a>
  <label id="mobile_menu_toggle" class="{{toggleState}}">
    <input type="checkbox" name="mobile_menu_toggle">
    <div class="bars-wrapper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </label>
  <nav id="main-menu">
    <a href="{{ pathFor 'Home' }}">Home</a>
    <a href="{{ pathFor 'Projects' }}">Projects</a>
    <!-- <a href="{{ pathFor 'Experiments'}}">Experiments</a> -->
    <a href="{{ pathFor 'Contact' }}">Contact</a>
  </nav>
</template>
