<template name="HeroImage">
  <section id="{{heroId}}" class="banner-container">
    <div class="e_row row-fixed_width">
      <div class="row_inner">
      {{#each column in heroColumns}}
        {{> HeroImageColumn column=column}}
      {{/each}}
      </div>
    </div>
  </section>
</template>

<template name="HeroImageColumn">
  <div class="e_col col-{{column.span}}-md {{willColumnHide column.content}}">
    <div class="col-inner">
    {{#if column.content}}
      <h1>{{column.content.title}}</h1>
      <h3>{{column.content.tagline}}</h3>
    {{else}}
      <p>&nbsp;</p>
    {{/if}}
    </div>
  </div>
</template>
