<template name="HeroImage">
  <section id="home_banner" class="banner-container">
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        <div class="e_col col-12-md">
          <div class="col-inner">
            <h1>ELLIOT DERHAY</h1>
            <h3>Lorem ipsum dolor sit amet, mea no movet scaevola assueverit, pro ferri choro maiestatis in</h3>
          </div>
        </div>
        <div class="e_col col-4-md">
          <div class="col-inner">
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
