<template name="SingleProjectEntry">
  <form class="project-listing">
    <div class="project-manager-row">
      <div class="proj-col col-1">
        <div class="proj-col-inner">
          <div class="field-wrapper"><input type="text" name="proj_name" value="{{entry.name}}"></div>
        </div>
      </div>
      <div class="proj-col col-2">
        <div class="proj-col-inner">
          <div class="field-wrapper"><input type="text" name="proj_url" value="{{entry.url}}"></div>
        </div>
      </div>
      <div class="proj-col col-3">
        <div class="proj-col-inner">
          <div class="field-wrapper field-checkbox">
            <input type="checkbox" name="isSource" id="isSource-{{@index}}" {{checkRepoType entry.isSource}}>
            <label for="isSource-{{@index}}"></label>
          </div>
        </div>
      </div>
      <div class="proj-col col-4">
        <div class="proj-col-inner">
          <div class="field-wrapper"><input type="text" name="auth_user" value="{{entry.author.user}}"></div>
        </div>
      </div>
      <div class="proj-col col-5">
        <div class="proj-col-inner">
          <div class="field-wrapper"><input type="text" name="auth_url" value="{{entry.author.url}}"></div>
        </div>
      </div>
      <div class="proj-col col-6">
        <div class="proj-col-inner">
          <button type="submit" title="Commit" class="proj-btn devicons devicons-git_commit"></button><button type="button" title="Delete" class="proj-btn delete-btn">&minus;&nbsp;&minus;</button>
        </div>
      </div>
    </div>
  </form>
</template>
