<template name="Home">
  <section id="banner_container" class="e_row row-fixed_width">
    <div class="row_inner">
      <div class="e_col">
        <div class="col-inner">
          <img src="/img/cartoonify-me.svg" width="500" height="500">
        </div>
      </div>
      <div class="e_col">
        <div class="col-inner">
          <h1>ELLIOT DERHAY</h1>
          <p>Lorem ipsum dolor sit amet, mea no movet scaevola assueverit, pro ferri choro maiestatis in, wisi dicant denique ex vim. An erant iusto nonumes pri. Ne atqui antiopam suavitate sea. Vim mediocrem repudiandae ex.</p>
          <p>Ut usu affert imperdiet, quidam postulant reprimique an per, cum altera vocent euismod ne. Est sint euismod cu, his alii putent id. Quo ea simul diceret meliore, nonumes reprehendunt te vel, sit ne quem choro. Commodo patrioque nec at. Sint cotidieque ne cum, erant aliquip an quo.</p>
          <p>In usu labitur dolorem fuisset, ut quod doming vis. Usu te maiorum appareat, at duo suas illud bonorum, vocibus instructior his ad. Cu mazim dolore eum, ad nostrum phaedrum vituperatoribus sed, eum id odio praesent intellegam. Qui et posse sonet phaedrum, decore noster corpora eam eu. An mea recteque principes.</p>
          <p>Dicam virtute ea sea, mei prompta commune et. Vim ipsum prompta pertinacia ad, at sit tamquam nostrud electram. Dico aliquam duo at, cu eros nihil legimus mea. Labore iriure id eam, pri consul soluta fierent ad. Nam in erant imperdiet. Ei altera aperiri partiendo per, nusquam deserunt assueverit mel in, sit natum complectitur ne.</p>
          <p>Illud dicam facilisi ea vel. Vidit labore ancillae his an, id omnium dissentiunt usu. Eius detraxit at est, duo veniam diceret eruditi ut. Saepe exerci deleniti mei ut, alii tamquam an mea. Viris accusam moderatius id vis, at ubique dicunt omittantur sea.</p>
        </div>
      </div>
    </div>
  </section>
</template>
