<template name="Home">
  <section id="home_banner" class="banner-container">
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        <div class="e_col col-12-md">
          <div class="col-inner">
            <h1>ELLIOT DERHAY</h1>
            <h3>Lorem ipsum dolor sit amet, mea no movet scaevola assueverit, pro ferri choro maiestatis in</h3>
          </div>
        </div>
        <div class="e_col col-4-md">
          <div class="col-inner">
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        <div class="e_col col-8-md">
          <div class="col-inner">
            <img src="/img/cartoonify-me.svg" width="800" height="800" class="center">
          </div>
        </div>
        <div class="e_col col-8-md">
          <div class="col-inner">
            <p>Lorem ipsum dolor sit amet, mea no movet scaevola assueverit, pro ferri choro maiestatis in, wisi dicant denique ex vim. An erant iusto nonumes pri. Ne atqui antiopam suavitate sea. Vim mediocrem repudiandae ex.</p>
            <p>Ut usu affert imperdiet, quidam postulant reprimique an per, cum altera vocent euismod ne. Est sint euismod cu, his alii putent id. Quo ea simul diceret meliore, nonumes reprehendunt te vel, sit ne quem choro. Commodo patrioque nec at. Sint cotidieque ne cum, erant aliquip an quo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
