<template name="Projects">
  <section id="projects_banner" class="banner-container">
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        <div class="e_col col-4-md">
          <div class="col-inner">
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="e_col col-12-md">
          <div class="col-inner">
            <h1>PROJECTS</h1>
            <h3>Lorem ipsum dolor sit amet, mea no movet scaevola assueverit, pro ferri choro maiestatis in</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        {{ #each listProjects }}
          {{> gitproject }}
        {{ /each }}
      </div>
    </div>
  </section>
</template>

<template name="gitproject">
  <div class="e_col col-8-md">
    <div class="col-inner">
      <div class="project-wrapper">
        <h2 class="project-title">
          <a class="devicons devicons-git{{#unless isSource}}_branch{{/unless}}" href="{{ url }}" target="_blank">{{ name }}<span></span></a>
        </h2>
        <p><span class="project-author">Author: <a href="{{ author.url }}" target="_blank">{{ author.user }}</a></span> &nbsp; <span class="project-last-updated"> Updated: {{ CalDate updatedAt }}</span></p>
      </div>
    </div>
  </div>
</template>
