<template name="Projects">
  <section id="projects_banner" class="banner-container">
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        <div class="e_col col-4-md">
          <div class="col-inner">
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="e_col col-12-md">
          <div class="col-inner">
            <h1>PROJECTS</h1>
            <h3>Lorem ipsum dolor sit amet, mea no movet scaevola assueverit, pro ferri choro maiestatis in</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="e_row row-fixed_width">
      <div class="row_inner">
        {{ #each listProjects }}
          {{> gitproject }}
        {{ /each }}
      </div>
    </div>
  </section>
</template>

<template name="gitproject">
  <div class="e_col col-8-md">
    <div class="col-inner">
      <h2><span class="typeIcon {{ repoType }}"></span><a href="{{ url }}" target="_blank">{{ name }}</a></h2>
      <p>Author: <a href="{{ author.url }}" target="_blank">{{ author.user }}</a></p>
      <p>Last updated: {{ updatedAt }}</p>
    </div>
  </div>
</template>
